*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.close{
    position: absolute;
    font-size: 35px !important;
    top: -5px;
    right: 10px;
    cursor: pointer;
}

.close:hover, .close:focus{
    color: red;
}

.form2{
    position: relative;
    z-index: 1;
    background-color: rgb(24, 75, 170);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form2 input{
    font-family: 'Roboto', sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}

.form2 button{
    font-family: 'Roboto',sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    outline: 1;
    background: #4CAF50;
    width: 100%;
    border: 0;
    color: #fff;
    padding: 15px;
    cursor: pointer;
}

.form2 button:hover, .form2 button:active{
    background: #43A047;
}

.form2 .message2{
    color: #fff;
    font-size: .9rem;
    margin-top: .5rem;
}
.form2 .message2 a{
    color: #4CAF50;
}
.form2 .message1{
    color: #fff;
    font-size: .7rem;
    margin-top: .5rem;
}

.form2 .register-form{
    display: none;
}